---
layout: default
---

<div class="home">

  <h1 class="page-heading">This is the community site for all the public <a href="https://github.com/gitbucket/gitbucket">GitBucket</a> plugins.</h1>

  <strong>
    Note: This site is no longer maintained and will soon be deleted completely.
    The list of community plugins is now managed on a Wiki page in the gitbucket repository.<br/>
    <a href="https://github.com/gitbucket/gitbucket/wiki/Community-Plugins">https://github.com/gitbucket/gitbucket/wiki/Community-Plugins</a>
  </strong>

  <h1 class="page-heading">Available Plugins:</h1>
  <p class="separator"/>
  <ul class="plugin-list">
      {% for category in site.data.plugins %}
        <h2 id="{{ category.id }}" class="category-title">{{ category.name }}</h2>
        {% for plugin in category.plugins %}
        <li>
          <h2>
              <a class="post-link{% if plugin.distributed %} distributed{% endif %}" href="{{ plugin.url }}"><span class="{{ plugin.icon }}"></span>{{ plugin.name }}</a>
          </h2>
            <p>{{ plugin.description }}</p>
        </li>
        {% endfor %}
      {% endfor %}
</ul>
    <p class="separator"/>
    <p>Your plugin is not listed here? You want to move your plugin under the organization? Please open a <a href="https://github.com/gitbucket-plugins/gitbucket-plugins.github.io/issues">ticket/issue</a> to reference your demand.</p>
</div>

<script>
  window.onscroll = function() {myFunction()};
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>